In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import iplot
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams.update({'font.size': 11})

from functions.make_df_without_gaps import make_df_without_gaps
import warnings 
warnings.simplefilter('ignore')
import pickle

with open('../Имена_скважин_pickle/dict_name_well.pickle', 'rb') as f:
    dict_name_well = pickle.load(f)

%config InlineBackend.figure_formats = 'svg'

from functions.make_df_with_count_days_ago import make_df_with_count_days_ago
from functions.uppend_p_zab import uppend_p_zab
from functions.uppend_inj_wells import uppend_inj_wells

In [3]:
train = pd.read_csv('../../data/Исходные_данные/train_data.csv')
train['WELL_NAME'] = train['WELL_NAME'].map(dict_name_well)
train.drop(columns=['KCHARWORK', 'MEASURED_IN', 'IS_WORKING'], inplace=True)
train['MEASURED_IN_DATE'] = pd.to_datetime(train['MEASURED_IN_DATE'])

coord_well = pd.read_csv('../../data/Исходные_данные/coords.csv')
coord_well['WELL_NAME'] = coord_well['WELL_NAME'].map(dict_name_well)
coord_well.dropna(inplace=True)
coord_well = coord_well.set_index('WELL_NAME')
coord_well.sort_index(inplace=True);

In [4]:
graph_wells = pd.DataFrame(index=range(266))
for well in range(266):
    graph_wells[well] = np.sqrt(np.square(coord_well['COORD_X'] - coord_well[coord_well.index == well]['COORD_X'].values) +
                        np.square(coord_well['COORD_Y'] - coord_well[coord_well.index == well]['COORD_Y'].values))
graph_wells

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.000000,5550.282189,1208.834563,7466.414534,2316.878288,1197.448120,2112.274603,1706.095479,1879.414649,4742.804655,...,4751.633818,3902.751253,1703.789632,1836.696196,1650.054443,2666.949595,7000.858697,4118.238649,7388.558098,7740.414535
1,5550.282189,0.000000,6215.509514,12069.082204,7866.817142,6741.650306,7635.158454,6554.488347,7273.234877,10121.601743,...,829.080852,1788.555145,5775.980221,5916.349271,4472.687248,6694.739180,7255.699064,6868.956089,9719.150350,9519.010449
2,1208.834563,6215.509514,0.000000,6321.573934,2017.786906,1116.962399,2095.214786,497.772202,1117.914273,3906.176775,...,5470.104568,4728.386126,879.996245,2942.017191,1792.375581,1530.075606,6270.660809,3117.241943,6283.835818,6701.673134
3,7466.414534,12069.082204,6321.573934,0.000000,5995.745575,6566.353630,6502.122269,5848.268857,5700.068596,3645.387497,...,11447.148605,10870.636613,6414.923193,8805.689219,7732.730321,5393.659576,7884.938204,5492.007312,4977.398349,5894.226812
4,2316.878288,7866.817142,2017.786906,5995.745575,0.000000,1129.559649,506.557993,2068.559954,1035.284290,2681.284207,...,7068.105652,6207.498601,2872.923750,2927.751109,3691.727659,3058.434436,8068.295918,4709.569222,7448.348587,8036.912300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,2666.949595,6694.739180,1530.075606,5393.659576,3058.434436,2525.443316,3325.231418,1124.461861,2028.705494,3909.063369,...,6054.852165,5491.975310,1103.793531,4462.378418,2361.695532,0.000000,5014.708982,1666.872592,4753.812242,5185.524384
262,7000.858697,7255.699064,6270.660809,7884.938204,8068.295918,7384.430380,8297.323963,6038.820084,7033.959670,8418.622345,...,7144.936223,7279.170404,5423.616473,8764.867660,5583.159517,5014.708982,0.000000,3420.000761,3357.410401,2709.276767
263,4118.238649,6868.956089,3117.241943,5492.007312,4709.569222,4174.317558,4991.394844,2773.973523,3688.100107,5090.510211,...,6382.391423,6048.139485,2414.494156,5954.448298,3223.209031,1666.872592,3420.000761,0.000000,3340.444385,3622.757215
264,7388.558098,9719.150350,6283.835818,4977.398349,7448.348587,7220.132193,7842.414172,5854.298413,6541.552184,6699.068826,...,9377.966279,9201.865824,5703.162238,9208.458661,6554.294815,4753.812242,3357.410401,3340.444385,0.000000,916.869575
265,7740.414535,9519.010449,6701.673134,5894.226812,8036.912300,7701.622395,8400.669860,6307.924496,7085.021020,7494.514662,...,9251.315467,9169.598345,6036.943109,9575.971825,6736.805612,5185.524384,2709.276767,3622.757215,916.869575,0.000000

In [5]:
graph_wells.to_csv('../../data/preprocessed_data/graph_wells_adjacency_matrix.csv', index=False)

In [4]:
train_oil_year_accum = pd.read_csv('../../data/preprocessed_data/train_oil_year_accum.csv')
train_oil_year_accum['MEASURED_IN_DATE'] = pd.to_datetime(train_oil_year_accum['MEASURED_IN_DATE'])

full_well = []
for well in train_oil_year_accum_without_gaps['WELL_NAME'].unique():
    
    data = train_oil_year_accum_without_gaps[train_oil_year_accum_without_gaps['WELL_NAME'] == well]
    data.set_index('MEASURED_IN_DATE', inplace=True)
    
    daily_counts = data.resample('D').count()
    if daily_counts.isnull().values.any():
        full_well.append(well)
print(f'Cкважин с не пропущенными значениями = {len(full_well)}')

train_oil_year_accum_without_gaps.head()

In [ ]:
well_more_365 = train_oil_accum_without_gaps.groupby('WELL_NAME').size() > 365
list_well_more_365 = well_more_365[well_more_365].index.tolist()
train_oil_year_accum_without_gaps = train_oil_accum_without_gaps[
    train_oil_accum_without_gaps['WELL_NAME'].isin(list_well_more_365)
]

train_oil_year_accum_without_gaps.reset_index(drop=True, inplace=True)
train_oil_year_accum_without_gaps

train_oil_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_accum_without_gaps.csv', index=False)
train_oil_year_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_year_accum_without_gaps.csv', index=False)

train[train['MEASURED_IN_DATE'] == train_year_oil_rate_50_days_ago.index[0]]

from functions.make_df_with_count_days_ago import make_df_with_count_days_ago
train_year_oil_rate_5_days_ago_without_gaps = make_df_with_count_days_ago(dataframe=train_oil_year_accum_without_gaps, 
                                                                count_days=5, target='OIL_RATE')
train_year_oil_rate_5_days_ago_without_gaps

In [5]:
df = make_df_without_gaps(train_oil_year_accum, date_column='MEASURED_IN_DATE', group_params='WELL_NAME')
df = make_df_with_count_days_ago(dataframe=df, count_days=50, target='OIL_RATE')
df = uppend_p_zab(preproc_df=df, train_df=train_oil_year_accum)
df = uppend_inj_wells(preproc_df=df, train_df=train, distance=True, graph_wells=graph_wells)
df[4]

MEASURED_IN_DATE
2020-10-20    0.000000
2020-10-21    0.000000
2020-10-22    0.000000
2020-10-23    0.000000
2020-10-24    0.000000
                ...
2021-09-20    0.182045
2021-09-21    0.182045
2021-09-22    0.182045
2021-09-23    0.182045
2021-09-24    0.182045
Name: 4, Length: 35833, dtype: float64

In [6]:
df[df['WELL_NAME'] == 4]

,0,2,3,4,5,6,7,8,9,10,...,OIL_RATE_9_days_ago,OIL_RATE_8_days_ago,OIL_RATE_7_days_ago,OIL_RATE_6_days_ago,OIL_RATE_5_days_ago,OIL_RATE_4_days_ago,OIL_RATE_3_days_ago,OIL_RATE_2_days_ago,OIL_RATE_1_days_ago,TARGET_OIL_RATE
MEASURED_IN_DATE,,,,,,,,,,,,,,,,,,,,,
2019-12-05,0.0,0.157103,0.125756,0.0,0.563051,0.785695,0.124241,0.519664,0.169322,0.155122,...,113.52,113.52,113.52,113.52,113.52,110.88,110.88,108.24,108.24,93.89
2019-12-06,0.0,0.152642,0.125089,0.0,0.563051,0.785695,0.124241,0.519664,0.172678,0.155122,...,113.52,113.52,113.52,113.52,110.88,110.88,108.24,108.24,93.89,87.02
2019-12-07,0.0,0.151651,0.125255,0.0,0.563051,0.785695,0.124241,0.516766,0.172678,0.155122,...,113.52,113.52,113.52,110.88,110.88,108.24,108.24,93.89,87.02,80.15
2019-12-08,0.0,0.151651,0.125589,0.0,0.563051,0.775824,0.124241,0.512903,0.172305,0.155397,...,113.52,113.52,110.88,110.88,108.24,108.24,93.89,87.02,80.15,80.15
2019-12-09,0.0,0.151156,0.124922,0.0,0.563051,0.730420,0.124241,0.511937,0.171187,0.155122,...,113.52,110.88,110.88,108.24,108.24,93.89,87.02,80.15,80.15,77.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-06-11,0.0,0.000000,0.104741,0.0,0.467439,1.295015,0.000000,0.505175,0.322980,0.000000,...,33.22,34.32,33.88,27.06,20.46,20.46,20.46,20.46,20.46,20.46
2020-06-12,0.0,0.000000,0.104741,0.0,0.467439,1.194335,0.000000,0.471368,0.317385,0.000000,...,34.32,33.88,27.06,20.46,20.46,20.46,20.46,20.46,20.46,20.46
2020-06-13,0.0,0.000000,0.104741,0.0,0.467439,1.204206,0.000000,0.472334,0.317385,0.000000,...,33.88,27.06,20.46,20.46,20.46,20.46,20.46,20.46,20.46,20.02
2020-06-14,0.0,0.000000,0.104741,0.0,0.467439,1.206180,0.000000,0.472334,0.317385,0.000000,...,27.06,20.46,20.46,20.46,20.46,20.46,20.46,20.46,20.02,19.36
2020-06-15,0.0,0.000000,0.104741,0.0,0.467439,1.210128,0.000000,0.472334,0.317012,0.000000,...,20.46,20.46,20.46,20.46,20.46,20.46,20.46,20.02,19.36,17.16

In [17]:
a = pd.DataFrame([[1, 2, 4], [3, 4, 6], [7, 8, 9]])
a

   0  1  2
0  1  2  4
1  3  4  6
2  7  8  9

In [18]:
b = pd.Series([4, 5, 6])
b

0    4
1    5
2    6
dtype: int64

In [19]:
a / b

      0    1         2
0  0.25  0.4  0.666667
1  0.75  0.8  1.000000
2  1.75  1.6  1.500000

In [11]:
train_inj = train[train['CHARWORK'] == 'НАГ']
inj_wells = pd.Series(train_inj['WELL_NAME'].unique(), name='WELL_NAME')
well_oil = 1
graph_wells[inj_wells].iloc[well_oil, :]

0       5550.282189
2       6215.509514
3      12069.082204
4       7866.817142
5       6741.650306
           ...
224     9034.568661
253     1896.383679
255     1460.964069
256      829.080852
257     1788.555145
Name: 1, Length: 61, dtype: float64

In [6]:
df = pd.DataFrame(df.isna().any()).reset_index()
df[df[0] == True]['index'].values

array([4, 21, 34, 64, 68, 77, 81, 257], dtype=object)

In [23]:
df[df[].isna()]['WELL_NAME'].unique()

array([68], dtype=int64)

In [ ]:
df.to_csv('../../data/preprocessed_data/train')