In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.graph_objects as go
from plotly.offline import iplot
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rcParams.update({'font.size': 11})

from functions.make_df_without_gaps import make_df_without_gaps
import warnings 
warnings.simplefilter('ignore')
import pickle

with open('../Имена_скважин_pickle/dict_name_well.pickle', 'rb') as f:
    dict_name_well = pickle.load(f)

%config InlineBackend.figure_formats = 'svg'

from functions.make_df_with_count_days_ago import make_df_with_count_days_ago
from functions.uppend_p_zab import uppend_p_zab
from functions.uppend_inj_wells import uppend_inj_wells

In [2]:
train = pd.read_csv('../../data/Исходные_данные/train_data.csv')
train['WELL_NAME'] = train['WELL_NAME'].map(dict_name_well)
train.drop(columns=['KCHARWORK', 'MEASURED_IN', 'IS_WORKING'], inplace=True)
train['MEASURED_IN_DATE'] = pd.to_datetime(train['MEASURED_IN_DATE'])

coord_well = pd.read_csv('../../data/Исходные_данные/coords.csv')
coord_well['WELL_NAME'] = coord_well['WELL_NAME'].map(dict_name_well)
coord_well.dropna(inplace=True)
coord_well = coord_well.set_index('WELL_NAME')
coord_well.sort_index(inplace=True);

In [24]:
train[train['WELL_NAME'] == 4]

,MEASURED_IN_DATE,WELL_NAME,CHARWORK,LIQ_RATE,WATER_CUT,P_ZAB,INTAKE,WELLHEAD_PRESSURE
4246,2018-06-24,4,НЕФ,125.0,11.0,50.61,0.0,NaN
4247,2018-06-25,4,НЕФ,125.0,11.0,50.61,0.0,NaN
4248,2018-06-26,4,НЕФ,125.0,11.0,50.61,0.0,NaN
4249,2018-06-27,4,НЕФ,137.0,11.0,50.57,0.0,NaN
4250,2018-06-28,4,НЕФ,137.0,11.0,50.57,0.0,NaN
...,...,...,...,...,...,...,...,...
5421,2022-03-19,4,НАГ,0.0,0.0,79.13,524.0,145.0
5422,2022-03-20,4,НАГ,0.0,0.0,79.13,524.0,145.0
5423,2022-03-21,4,НАГ,0.0,0.0,79.13,524.0,145.0
5424,2022-05-15,4,НАГ,0.0,0.0,79.13,524.0,145.0
5425,2022-05-16,4,НАГ,0.0,0.0,79.13,524.0,145.0

In [3]:
graph_wells = pd.DataFrame(index=range(266))
for well in range(266):
    graph_wells[well] = np.sqrt(np.square(coord_well['COORD_X'] - coord_well[coord_well.index == well]['COORD_X'].values) +
                        np.square(coord_well['COORD_Y'] - coord_well[coord_well.index == well]['COORD_Y'].values))
graph_wells.head()

,0,1,2,3,4,5,6,7,8,9,...,256,257,258,259,260,261,262,263,264,265
0,0.000000,5550.282189,1208.834563,7466.414534,2316.878288,1197.448120,2112.274603,1706.095479,1879.414649,4742.804655,...,4751.633818,3902.751253,1703.789632,1836.696196,1650.054443,2666.949595,7000.858697,4118.238649,7388.558098,7740.414535
1,5550.282189,0.000000,6215.509514,12069.082204,7866.817142,6741.650306,7635.158454,6554.488347,7273.234877,10121.601743,...,829.080852,1788.555145,5775.980221,5916.349271,4472.687248,6694.739180,7255.699064,6868.956089,9719.150350,9519.010449
2,1208.834563,6215.509514,0.000000,6321.573934,2017.786906,1116.962399,2095.214786,497.772202,1117.914273,3906.176775,...,5470.104568,4728.386126,879.996245,2942.017191,1792.375581,1530.075606,6270.660809,3117.241943,6283.835818,6701.673134
3,7466.414534,12069.082204,6321.573934,0.000000,5995.745575,6566.353630,6502.122269,5848.268857,5700.068596,3645.387497,...,11447.148605,10870.636613,6414.923193,8805.689219,7732.730321,5393.659576,7884.938204,5492.007312,4977.398349,5894.226812
4,2316.878288,7866.817142,2017.786906,5995.745575,0.000000,1129.559649,506.557993,2068.559954,1035.284290,2681.284207,...,7068.105652,6207.498601,2872.923750,2927.751109,3691.727659,3058.434436,8068.295918,4709.569222,7448.348587,8036.912300

In [4]:
train_oil_year_accum = pd.read_csv('../../data/preprocessed_data/train_oil_year_accum.csv')
train_oil_year_accum['MEASURED_IN_DATE'] = pd.to_datetime(train_oil_year_accum['MEASURED_IN_DATE'])

full_well = []
for well in train_oil_year_accum_without_gaps['WELL_NAME'].unique():
    
    data = train_oil_year_accum_without_gaps[train_oil_year_accum_without_gaps['WELL_NAME'] == well]
    data.set_index('MEASURED_IN_DATE', inplace=True)
    
    daily_counts = data.resample('D').count()
    if daily_counts.isnull().values.any():
        full_well.append(well)
print(f'Cкважин с не пропущенными значениями = {len(full_well)}')

train_oil_year_accum_without_gaps.head()

In [ ]:
well_more_365 = train_oil_accum_without_gaps.groupby('WELL_NAME').size() > 365
list_well_more_365 = well_more_365[well_more_365].index.tolist()
train_oil_year_accum_without_gaps = train_oil_accum_without_gaps[
    train_oil_accum_without_gaps['WELL_NAME'].isin(list_well_more_365)
]

train_oil_year_accum_without_gaps.reset_index(drop=True, inplace=True)
train_oil_year_accum_without_gaps

train_oil_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_accum_without_gaps.csv', index=False)
train_oil_year_accum_without_gaps.to_csv('../../data/Преобразованные_данные/train_oil_year_accum_without_gaps.csv', index=False)

train[train['MEASURED_IN_DATE'] == train_year_oil_rate_50_days_ago.index[0]]

from functions.make_df_with_count_days_ago import make_df_with_count_days_ago
train_year_oil_rate_5_days_ago_without_gaps = make_df_with_count_days_ago(dataframe=train_oil_year_accum_without_gaps, 
                                                                count_days=5, target='OIL_RATE')
train_year_oil_rate_5_days_ago_without_gaps

In [10]:
df = make_df_without_gaps(train_oil_year_accum, date_column='MEASURED_IN_DATE', group_params='WELL_NAME')
df = make_df_with_count_days_ago(dataframe=df, count_days=50, target='OIL_RATE')
df = uppend_p_zab(preproc_df=df, train_df=train_oil_year_accum)
df = uppend_inj_wells(preproc_df=df, train_df=train, graph_wells=graph_wells)
df

(363, 61) (61,)
(194, 61) (61,)
(340, 61) (61,)
(21, 61) (61,)
(588, 61) (61,)
(243, 61) (61,)
(111, 61) (61,)
(292, 61) (61,)
(208, 61) (61,)
(188, 61) (61,)
(323, 61) (61,)
(156, 61) (61,)
(495, 61) (61,)
(280, 61) (61,)
(189, 61) (61,)
(249, 61) (61,)
(503, 61) (61,)
(282, 61) (61,)
(87, 61) (61,)
(646, 61) (61,)
(284, 61) (61,)
(218, 61) (61,)
(504, 61) (61,)
(697, 61) (61,)
(429, 61) (61,)
(391, 61) (61,)
(323, 61) (61,)
(433, 61) (61,)
(245, 61) (61,)
(192, 61) (61,)
(309, 61) (61,)
(243, 61) (61,)
(190, 61) (61,)
(359, 61) (61,)
(253, 61) (61,)
(424, 61) (61,)
(158, 61) (61,)
(78, 61) (61,)
(314, 61) (61,)
(229, 61) (61,)
(220, 61) (61,)
(372, 61) (61,)
(354, 61) (61,)
(155, 61) (61,)
(187, 61) (61,)
(249, 61) (61,)
(420, 61) (61,)
(134, 61) (61,)
(333, 61) (61,)
(137, 61) (61,)
(123, 61) (61,)
(123, 61) (61,)
(123, 61) (61,)
(120, 61) (61,)
(256, 61) (61,)
(235, 61) (61,)
(203, 61) (61,)
(137, 61) (61,)
(228, 61) (61,)
(139, 61) (61,)
(155, 61) (61,)
(256, 61) (61,)
(163, 61) (61,)
(230, 61) (61,)
(374, 61) (61,)
(181, 61) (61,)
(145, 61) (61,)
(289, 61) (61,)
(412, 61) (61,)
(305, 61) (61,)
(372, 61) (61,)
(89, 61) (61,)
(180, 61) (61,)
(240, 61) (61,)
(386, 61) (61,)
(370, 61) (61,)
(394, 61) (61,)
(396, 61) (61,)
(398, 61) (61,)
(66, 61) (61,)
(156, 61) (61,)
(104, 61) (61,)
(196, 61) (61,)
(108, 61) (61,)
(172, 61) (61,)
(324, 61) (61,)
(123, 61) (61,)
(216, 61) (61,)
(383, 61) (61,)
(128, 61) (61,)
(256, 61) (61,)
(70, 61) (61,)
(139, 61) (61,)
(234, 61) (61,)
(162, 61) (61,)
(123, 61) (61,)
(410, 61) (61,)
(109, 61) (61,)
(154, 61) (61,)
(158, 61) (61,)
(219, 61) (61,)
(188, 61) (61,)
(247, 61) (61,)
(105, 61) (61,)
(204, 61) (61,)
(61, 61) (61,)
(191, 61) (61,)
(353, 61) (61,)
(340, 61) (61,)
(297, 61) (61,)
(317, 61) (61,)
(205, 61) (61,)
(188, 61) (61,)
(417, 61) (61,)
(451, 61) (61,)
(188, 61) (61,)
(264, 61) (61,)
(303, 61) (61,)
(105, 61) (61,)
(251, 61) (61,)
(41, 61) (61,)
(133, 61) (61,)
(221, 61) (61,)
(333, 61) (61,)
(442, 61) (61,)
(138, 61) (61,)
(288, 61) (61,)
(209, 61) (61,)
(316, 61) (61,)
(307, 61) (61,)
(199, 61) (61,)
(222, 61) (61,)
(348, 61) (61,)
(284, 61) (61,)
(321, 61) (61,)
(169, 61) (61,)
(228, 61) (61,)
(314, 61) (61,)
(373, 61) (61,)
(174, 61) (61,)
(294, 61) (61,)
(180, 61) (61,)

,0,2,3,4,5,6,7,8,9,10,...,OIL_RATE_9_days_ago,OIL_RATE_8_days_ago,OIL_RATE_7_days_ago,OIL_RATE_6_days_ago,OIL_RATE_5_days_ago,OIL_RATE_4_days_ago,OIL_RATE_3_days_ago,OIL_RATE_2_days_ago,OIL_RATE_1_days_ago,TARGET_OIL_RATE
MEASURED_IN_DATE,,,,,,,,,,,,,,,,,,,,,
2020-10-20,0.0,0.019467,0.047642,0.000000,0.105019,0.119447,0.006408,0.049359,0.059773,0.000000,...,62.08,62.08,60.14,59.83,59.83,59.83,59.52,59.52,59.21,59.21
2020-10-21,0.0,0.019467,0.048720,0.000000,0.105019,0.119185,0.006103,0.049222,0.059773,0.102297,...,62.08,60.14,59.83,59.83,59.83,59.52,59.52,59.21,59.21,59.21
2020-10-22,0.0,0.019467,0.047974,0.000000,0.105019,0.118793,0.006103,0.049084,0.059773,0.102297,...,60.14,59.83,59.83,59.83,59.52,59.52,59.21,59.21,59.21,59.21
2020-10-23,0.0,0.019467,0.047477,0.000000,0.105019,0.119055,0.006103,0.049084,0.059773,0.102297,...,59.83,59.83,59.83,59.52,59.52,59.21,59.21,59.21,59.21,59.21
2020-10-24,0.0,0.018663,0.047394,0.000000,0.105019,0.119316,0.006103,0.049084,0.059773,0.102297,...,59.83,59.83,59.52,59.52,59.21,59.21,59.21,59.21,59.21,59.21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-09-20,0.0,0.954550,0.086049,0.182045,0.383490,0.230949,0.972727,0.331803,0.143092,0.196535,...,97.06,98.90,97.98,97.52,99.36,99.82,100.28,101.20,100.74,99.82
2021-09-21,0.0,0.954550,0.089479,0.182045,0.383490,0.236327,0.995192,0.338639,0.143092,0.196535,...,98.90,97.98,97.52,99.36,99.82,100.28,101.20,100.74,99.82,101.66
2021-09-22,0.0,0.954550,0.090882,0.182045,0.383490,0.237000,0.986206,0.339164,0.143092,0.196535,...,97.98,97.52,99.36,99.82,100.28,101.20,100.74,99.82,101.66,100.28
2021-09-23,0.0,0.954550,0.090258,0.182045,0.383490,0.236327,0.986206,0.337587,0.143092,0.196535,...,97.52,99.36,99.82,100.28,101.20,100.74,99.82,101.66,100.28,99.36
2021-09-24,0.0,0.954550,0.090414,0.182045,0.383490,0.237000,0.980589,0.338113,0.143092,0.196535,...,99.36,99.82,100.28,101.20,100.74,99.82,101.66,100.28,99.36,100.28

In [17]:
a = pd.DataFrame([[1, 2, 4], [3, 4, 6], [7, 8, 9]])
a

   0  1  2
0  1  2  4
1  3  4  6
2  7  8  9

In [18]:
b = pd.Series([4, 5, 6])
b

0    4
1    5
2    6
dtype: int64

In [19]:
a / b

      0    1         2
0  0.25  0.4  0.666667
1  0.75  0.8  1.000000
2  1.75  1.6  1.500000

In [11]:
train_inj = train[train['CHARWORK'] == 'НАГ']
inj_wells = pd.Series(train_inj['WELL_NAME'].unique(), name='WELL_NAME')
well_oil = 1
graph_wells[inj_wells].iloc[well_oil, :]

0       5550.282189
2       6215.509514
3      12069.082204
4       7866.817142
5       6741.650306
           ...
224     9034.568661
253     1896.383679
255     1460.964069
256      829.080852
257     1788.555145
Name: 1, Length: 61, dtype: float64

In [6]:
df = pd.DataFrame(df.isna().any()).reset_index()
df[df[0] == True]['index'].values

array([4, 21, 34, 64, 68, 77, 81, 257], dtype=object)

In [23]:
df[df[].isna()]['WELL_NAME'].unique()

array([68], dtype=int64)

df.to_csv('../../data/preprocessed_data/train_with_inj_wells_without_gaps.csv')